html {
  padding: none;
  margin: none;
  background-color: #1c1825;
  font-family: Arial, Helvetica, sans-serif;
}

/*********** Header Bar ***********/

.header_bar_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header_bar_ul_li {
  float: left;
}

.header_bar_ul_li_a {
  display: block;
  color: rgb(255, 206, 46);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header_bar ul li a:hover {
  background-color: #111111;
}

/*********** Work Bar ***********/

.workbar_ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 20px 10%;
  list-style-type: none;
}

.workbar_ul_li_a {
  color: rgb(255, 206, 46);
  border: 2px solid rgb(255, 206, 46);
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

/*********** Content ***********/

.content-container {
  color: white;
  padding: 10px 20%;
  gap: 10px;
}

.img-casing {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  gap: 20px;
}

.img-casing_img {
  width: 100%;
}

/** Spritesheet**/

spritesheet_duck {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

spritesheet_duck_each {
  text-align: center;

}

.duck_idle {
  width: 128px;
  height: 128px;
  background-image: url("../../assets/ducksinarow/duck_idle.png");
  animation: duck_idle 1s steps(2) infinite;
}

@keyframes duck_idle {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 256px 0;
  }
}

.duck_walk {
  width: 128px;
  height: 128px;
  background-image: url("../../assets/ducksinarow/duck_walk.png");
  animation: duck_walk 1s steps(6) infinite;
}

@keyframes duck_walk {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 768px 0;
  }
}

.duck_attack {
  width: 128px;
  height: 128px;
  background-image: url("../../assets/ducksinarow/duck_attack.png");
  animation: duck_attack 0.5s steps(4) infinite;
}

@keyframes duck_attack {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 512px 0;
  }
}

.duck_hurt {
  width: 128px;
  height: 128px;
  background-image: url("../../assets/ducksinarow/duck_hurt.png");
  animation: duck_hurt 0.75s steps(3) infinite;
}

@keyframes duck_hurt {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 384px 0;
  }
}


/* Slide Show*/
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}