html {
    padding: none;
    margin: none;
    background-color: #1c1825;
    font-family: Arial, Helvetica, sans-serif;
}

/***************************************************/

.header_bar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}


.header_bar_ul_li {
    float: left;
}

.header_bar_ul_li_a {
    display: block;
    color: rgb(255, 206, 46);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header_bar ul li a:hover {
    background-color: #111111;
}


.about-me {
    color: white;
    padding: 0px 30%;
}

.story-section {
    padding: 10px 0px;
}